.idea/**/workspace.xml
.idea/**/dictionaries
.idea/GitLinkConfig.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/pytvc.iml
.idea/template/
.idea/vcs.xml
pytvc/__pycache__/
.idea/markdown-exported-files.xml
.idea/shellcheckPlugin.xml
